* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a:link, a:visited, a:active {
  text-decoration:none;
  color: whitesmoke;
  
}
ul li {
  list-style: none;
}

body {
font-size: 10px;
font-family: 'Nunito', sans-serif;
}

h1 {
  font-size: 60px;
  letter-spacing: 3px;
  font-weight: bold;

}
h2 {
  font-size: 36px;
  font-weight: bold;
  
}
h3 {
  font-size: 29px;
  font-weight: 400;
}
p {
  font-size: 18px;
  font-size: 300;
  
}

/**************  Header ********************/
.navbar {
  height: 20vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start ;
  /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16); */
}


nav img {
  margin-left: 40px;
  margin-top: 20px;
}
nav span {
  color: rgba(23, 190, 190, 0.897);
  font-size: 60px;
  font-weight: lighter;
  margin-top: 20px;
  margin-left: 2px;
}

.header, .main__card {
  display: flex;
   /* posiciona los elementos de arriba- abajo */
  justify-content: center;
  /* posiciona los elementos de izquierda - derecha */
  align-items: center;
  /* Define si los elementos de posicionan en columnas o en row */
  flex-direction: column;
}

.header {
  /* controla el espacio entre elementos flexibles. Se aplica ese espaciado solo entre elementos, no en los bordes exteriores. */
  gap: 15px;
  height: 50em;
  background: #043266;
}
.header h1, p {
  color: #3e8488;
}


.main-info h2{
  margin-top: 70px;
  text-align: center;
}

.main-info__block {
  background: #f8f8f8;
  color: #3f0808;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
}
.main-info__img img {
  height: 55vh;
}
.main-info__parrafo {
  width: 680px;
  
}
/****************** Section parrafo validación *******************/

.main__parrafo-validation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #043266;
  height: 300px;
  gap: 20px;
}
.main__parrafo-validation p {
text-align: center;
}

/****************** Section Tarjeta de crédito ******************/
.main__card {
  height: 1100px;
}
.main__cardP--black{
  color: #000000;
}
.main__cardP--black span {
  color: #697729;
  font-weight: bold;
}

.main__card-class{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  width: 50em;
  height: 25em;
  /* margin-top: 70px; */
  margin-bottom: 70px;
  border-radius: 20px;
  background: linear-gradient(to right, #434343, #000000);
  box-shadow: 0px 1px 10px rgba(14, 12, 28, 0.5);
 
}
.main__card-text--item1 {
  align-self: flex-end;
  padding: 10px 30px 0px 0px;
  font-size:18px;
}
.main__card-img--item2 {
  width: 75px;
}
.main__card-img--item2, .main__card-form--item3, .main-cardName, .main-cardNum {
  align-self: flex-start;
  margin-left: 30px;
}
.main__card-text--item1 , .main-cardName, .main-cardNum {
color: rgba(255, 255, 255, 0.8);
font-weight: 400;
letter-spacing: 2px;
text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
.main-cardNum {
   margin-top: 10px;
  font-size: 25px;
}

.main-form {
  width: 800px;
  border-radius: 20px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(14, 12, 28, 0.5);
  
}
.main-form h3{
  margin-left: 20px;
  font-weight: 300;
}

form label span {

  font-style:italic;
}
.main-textValidation{
  background: white;
  border: 1px solid rgb(14,12,28, 0.5);
  color:rgba(31, 30, 30, 0.8);
  height: 30px;
  width: 700px;
  border-radius: 10px;
  outline: none;
  margin-left: 30px;
  height: 40px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 200px;
  margin-top: 6px;
  margin-bottom: 10px;
}
.main-textValidation-valid {
  border: 1px solid rgb(0, 184, 15);
}
.form-card {
  margin-top: 10px;
}
.main-textValidation-inValid {
  border: 1px solid red;

}
.main-form label {
  font-size: 20px;
  font-weight: 200;
  margin-left: 30px;
  margin-top: 25px;
  letter-spacing: 1px;
 
}

.cardNum-valid {
  color: rgb(0, 184, 15);
  margin-left: 30px;
} 
.cardNum-invalid {
  color: red;
  margin-left: 30px;
}

.main__button-validation {
  background: #0e4b6e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 250px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;
  font-size: 18px;
  font-weight: bold;

}
.main__button-validation:hover {
  cursor: pointer;
  background: #0e4b6e;
}


footer {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: #0e4b6e;


}